<html>
    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <title>Curso 3info3</title>
        <!--VUE CDN-->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!--STYLE-->
        <link rel="stylesheet" href="assets/style.css">
        <link rel="stylesheet" href="assets/java">
    </head>
    <body>
      <div id="app">
        <div class="cart">Cart:{{ cart }}</div>
      <div class=”product-display”>
         <div class=”product-container”>
           <div class=”product-info”></div>
           <h1>{{ product_title }}</h1>
           <div class=”product-image”>
            <img :src="image" alt="img-product"> 
          </div>
           <p v-if="inStock >10">In Stock</p>
           <p v-else-if="inStock <10 && inStock > 1">Almost sold out</p>
            <p v-else>Out of Stock</p>
            <ul>
              <li v-for="detail in details">
                {{ detail }}
              </li>
            </ul>
            <div v-for="variant in variants"
            :key="variant.id" 
            @mouseover="changeImage(variant.image)">
              {{ variant.color }}</p>
              <button class="button" @click="addToCart">add to cart</button>
            </div>
          </div>
         
         </div>
      </div>
      </div>

        <script>
          const { createApp, ref } = Vue
          createApp({
            setup() {
              const cart = ref(0);
              const addToCart = () => {
                cart.value += 1;
              }
               
        const image = ref('./assets/img/enormosauro.png');
        const changeImage = (variantImage) => {
          image.value = variantImage;
        }
              return {
              product_title: ref('T-shirt'),
              image,
              inStock: ref(15),
              details: ref(['50% cotton', '30% polyester', '20% wool ']),
              variants: [{id:1, color: 'blue'}, {id:2, color: 'green'}],
              cart: ref(0),
              variants: 
              [{id:1, color: 'blue', image: './assets/img/enormosauro.png'},
              {id:2, color: 'green', image: './assets/img/ben10.png'}],
              cart,
              addToCart,
              changeImage
              }
            }
          }).mount('#app')
        </script>
     </script>
    </body>
    </html>
</html>