/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #0b0b0b;
  color: white;
}

/* Navbar */
nav {
  background-color: #111;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza o conteúdo no meio */
  padding: 0 40px;
  position: relative;
}

/* Logo central */
.logo-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo-nav img {
  height: 80px;
}

/* Links à direita */
.link-nav {
  margin-left: auto; /* Empurra os links pro canto direito */
  display: flex;
  gap: 30px;
}

.link-nav a {
  color: #00ff00;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 100px;
  transition: 0.3s;
}

.link-nav a:hover {
  color: white;
  text-shadow: 0 0 10px #00ff00;
}

/* Estilo geral */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

section {
  max-width: 1000px;
  height: 825px;
  margin:  auto;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #ccc;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Título das séries */
h2 {
  text-align: center;
  font-size: 36px;
  color: #333;
  margin-bottom: 30px;
}

/* Estilo para cada série */
.serie {
  margin-bottom: 30px;
}

.serie h3 {
  font-size: 26px;
  color: #333;
  margin-bottom: 10px;
}

/* Links sem efeito neon */
.serie a {
  color: #007bff;
  text-decoration: none;
  transition: 0.3s;
}



/* Descrição do texto */
.serie p {
  font-size: 18px;
  line-height: 1.7;
  color: #555;
}
